#PYTHON BASICS

###GENERAL INFORMATION

White space matters. Indent where needed.

####Import modules

syntax: import module_name

####COMMENTS

In [ ]:
#this is a comment
print("Hello World!") #Prints to screen

Hello World!

####CONDITIONAL STATEMENTS

In [ ]:
if isSunny:
  print("Its sunny")
elif go <= temp < 100 and bath > 80:
  print("Bath is hot and full!")
elif not((job =='qa' or (usr=='adm'))):
  print("Match if not qa or adm")
else:
  print("No match job is" + job) #adds  the job as created

####STRINGS

In [ ]:
title = "Us and them" #most list operations are as follows

In [ ]:
title[0] #character on index 0

'U'

In [ ]:
len(title) #Calculates the length of the string

11

In [ ]:
title.split(" ") #splits the string using the specified separator

['Us', 'and', 'them']

In [ ]:
type(title.split(" ")) #The list after splitting the string

list

In [ ]:
':'.join(['A','B','C']) #converts the list into a string

'A:B:C'

In [ ]:
type(':'.join(['A','B','C']))

str

In [ ]:
nine=str(9)
nine #changes the integer into string type

'9'

In [ ]:
title.replace('them','us') #replaces specific words with other words

'Us and us'

####Dictionaries

In [ ]:
votes ={'red':3,"blue":5} #creating  a dictionary

In [ ]:
type(votes)

dict

In [ ]:
votes.keys() #gives the keys of the dictionary

dict_keys(['red', 'blue'])

In [ ]:
votes.values() #gives the values of the dictionary

dict_values([3, 5])

In [ ]:
votes['gold']= 4 #adds a key value pair to the dictionary

In [ ]:
votes

{'red': 3, 'blue': 5, 'gold': 4}

In [ ]:
del votes['gold'] #deletes the key

In [ ]:
votes['blue']=6 #changing the value of the key

In [ ]:
len(votes)

2

In [ ]:
'green' in votes #checks for the key in the dictionary

False

In [ ]:
votes.has_key('red') #checking if a key exists in the dictionary

In [ ]:
#he has_key() method was removed in Python 3. To check if a key exists in a dictionary in Python 3, you can use the in operator. For example:
if 'red' in votes:
   print('Red has 10 votes.')

Red has 10 votes.

####NUMBERS

In [ ]:
total = 3*3 #Multiplication
total

9

In [ ]:
total =5+2*3
total

11

In [ ]:
amt= 1.50 +3.75 +5.36+23.65
amt

34.26

####TUPLES

They are like lists but they cannot be changed

In [ ]:
tup1 =(1,2,3,4,"a","z","pp") #Creating a tuple

In [ ]:
tup1[4] #Extracting a character

'a'

####LISTS

In [ ]:
scores=['A','C','D','C',90,75] #creating a list

In [ ]:
scores[0] #extracting through index

'A'

In [ ]:
scores[1:3] #extracting through slicing

['C', 'D']

In [ ]:
scores.count('C') #counting the number of occurances

2

In [ ]:
scores.append(100) #adds an item to the list

In [ ]:
scores

['A', 'C', 'D', 'C', 90, 75, 100]

In [ ]:
scores.pop() #removes the last item

100

In [ ]:
scores

['A', 'C', 'D', 'C', 90, 75]

#PYTHON OOPS CONCEPTS

####Object oriented Programming

python is a multiparadigm programming language. It supports different programming approaches.

One of the most popular approaches to solve programming problem by creating objects. This is known as object oriented programming. (OOP)

OOP has 2 characteristics
1. Attributes
2. Behavior

Example:
A parrot is an object and it has the following properties
* name,age, color as attributes
* singing, dancing, as behavior

The concepts of OOPs in python focuses on creating reusable code. This concept is also known as DRY (dont Repeat yourself)

####CLASS

A class is  a blueprint for the object. we can think of class as a sketch of parrot eith labels. It contains all the details about the name, colors, size etc

In [ ]:
class Parrot:
  pass

Here class keyword define an empty class parrot. From the class, we construct instances (-). An instance is a specific object created from a purticular class

####OBJECT

an object (instance) is an instantiation of a class. When class is defined only the decription for the class object is defined. Therefor, no memory or storage is allocated.

In [ ]:
Obj = Parrot()

Here Obj is an object of class parrot

Suppose we have details of parrots. Now we are going to show how to build the class and objects of parrots. We can access the class attribute using class_species

####INHERITANCE

Inheritance is a way of creating newc lass for using details of an existing class without modifying it. The newly formed class is derived class, similarly the existing class is the base class

In [ ]:
#use of inheritance in python
class Bird:
  def _init_(self):
    print("Bird is ready")
  def swim(self):
    print("swim faster")

class Penguin(Bird):
  def _init(self):
    super()._init_()
  def run(self):
    print("run fast")

P = Penguin()
P.swim()
P.run()

swim faster
run fast

We can use the super() function inside the _init_() method. This allows us to run _init_() method

####ENCAPSULATION

Using OOP in python, we can restrict access to methods and variables. This prevents data from direct modification which is called encapsualtion. In python, we can donate private attribute using _ as the prefic, i.e, single _ or double __

In [ ]:
class computer:
  def __init__(self):
    self.___maxprice=900
  def setmaxprice(self,Price):
    self.__maxprice = Price

C=computer()
C.__maxprice=1000
C.setmaxprice(100)

We used _init__() method to store the maximum setting price of computer

<table border="1">
  <tr>
    <th>Class Member Access Specifier</th>
    <th>Access from own class</th>
    <th>Accessible from derived</th>
    <th>Accessible from object </th>
  </tr>
  <tr>
    <td>Private</td>
    <td>Yes</td>
    <td>No</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Protected</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Public</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
  </tr>
</table>

####POLYMORPHISM

Polymorphism is an ability to use a common interface for multiple forms (data types). Polymorphism in pyhton defines methods in the child class that have the same name as the method in the parent class. It is passive to modify a method in a child class that it has inherited from child class, parent class

In [ ]:
class parrot:
  def fly(self):
    print("Parrot can fly")
  def swim(self):
    print("Parrot cannot swim")

class penguin:
  def fly(self):
    print("Penguins cant fly")
  def swim(self):
    print("Penguins can swim")

def flying_test(bird):
  bird.fly()

blue=parrot()
peg= penguin()

flying_test(blue)
flying_test(peg)

Parrot can fly
Penguins cant fly

#PYTHON FUNCTIONS

####What are functions?

A function is a block of code only runs when its called. In python, a function is defined using the def keyword.

In [ ]:
def my_func():
  print("Hello")

####Arguments in a Function

Arguments are specified after the function name, inside the paranthesis.
You can add as many arguments as you want to separate them with a comma

In [ ]:
def my_function(fname):
  print(fname + "Truman")

my_function("Emil ")
my_function("Tobias ")
my_function("Maria ")

Emil Truman
Tobias Truman
Maria Truman

####Arbitary arguments

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("sou1","Amy","trixie")

The youngest child is trixie

####Keyword Arguments (kwargs)

you can also send arguments with the key=value syntax

In [ ]:
def my_function(child3,child2,child1):
  print("The younger child is " + child3)

my_function(child1="MCB", child2="BCC", child3="BTC")

The younger child is BTC

####Arbitary Keyword Arguments

If you do not know how many keyword arguments that will be passed nto your function, add two astricks; ** before the parameter name in the function definition

In [ ]:
def my_function(**kid):
  print("His last name is "+ kid["name"])

my_function(fname="Trixie", name="Truman")

His last name is Truman

#PYTHON OPERATORS

####Arithmetic Operators

An arithmetic operator performs mathematical operations like addition, subtraction, division, and multiplication

In [ ]:
5+4  # + --> Adds operands

9

In [ ]:
6-4 # - --> subtacts operands

2

In [ ]:
5*4*2  # * --> multiplies operands

40

In [ ]:
5/2 # / divide the left operand by the right operand

2.5

In [ ]:
5%3 # which will give the remainder

2

In [ ]:
5//3 #which will give the integer part

1

In [ ]:
5**3 #raised to the power

125

####Comparison Operators

In [ ]:
# == : If two operand values are equal then the condition becomes true
5 == 3

False

In [ ]:
# != : Values of two operands are not equal, then condition becomes true
5!=3

True

In [ ]:
# > : If the value of the left operand is greater than the value of right operand, then condition becomes true
6>4

True

In [ ]:
# < : if the value of the left operand is less than the value of the right operand, then condition becomes true
5<4

False

In [ ]:
# >= : greater than or equal to; If the vlaue of the left operand is greater than or equal to the value of the right operand, then condition becomes true
5>=6

False

In [ ]:
# <= : left operand less than or equal to the right operand
4<=6

True

####Logical Operators

They are boolean expressions such as and, or , not

It is just a conditional test that a reault is either true or false

In [ ]:
#And : It becomes TRUE when both the expressions are TRUE
True and True

True

In [ ]:
False and False

False

In [ ]:
#Or : It becomes TRUE, if either one of the expressions are TRUE
True or True

True

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
#Not : It is used to reverse the logical state of its operand
not True

False

In [ ]:
not False

True

####Assignment Operators

In [ ]:
# = : Assigns values from right side operands to the left side operands
x=20
x

20

In [ ]:
# += : It adds right operand to the left operand and assign the result to the left operand
x+=20
x

40

In [ ]:
#-= : it subtracts right operand to the left operand and assign the result to the left operand
x-=20
x

20

In [ ]:
# *= : It multiples right operand to the left operand and assign the result to the left operand
x*=50
x

1000

In [ ]:
# /= : IT divides  right operand to the left operand and assign the result to the left operand
x/=50
x

20.0

In [ ]:
# %= : It takes the modulus using two operands and assign the result to left operand
x%=50
x

20.0

In [ ]:
# **= : performs exponential (power) calculations on the operators and assigns value to the left operand
x**=50
x

1.125899906842624e+65

In [ ]:
# //= : It performs floor division on operators and assign value to the left operand
x//=50
x

2.251799813685248e+63

####Membership Operators

In [ ]:
# in : Evalautes to true, if it finds a variable in the specified sequence and false otherwise
x="Python"
'p' in x

False

In [ ]:
# not in : Evalautes to true, if it doesnt find a variable in the specified sequence and false otherwise
x="Python"
'p' not in x

True

####Bitwise Operators

In [1]:
# & : Operator copies a bit to the result if it exists in both operands
10&20

0

In [2]:
# | : Operator copies a bit to the result if it exists in either operands
10|20

30

In [3]:
# ^ : Operator copies a bit to the result if it is set in one operand and not both
10^20

30

In [5]:
# ~ : it is unary and has the effect of flipping bits
~20

-21

In [7]:
# << : The left operands value is moved left by the number of bits specified by the right operand.
10<<2

40

In [8]:
# >> : The left operands value is moved right by the number of bits specified by the right operand.
10>>2

2

####Identity Operators

In [9]:
#is : evaluates to true, if the variables on either side of the operator point to the same object and is false otherwise
x= "Hello"
y= "hello"
x is y

False

In [10]:
#is not: evaluates to false, if the variables on either side of the operator point to the same object and is true otherwise
x= "Hello"
y= "hello"
x is not y

True

#VARIABLES AND DATATYPES

####Python Variables

variable is a name that is used to refer to memory location. Python is also known as an identifier and used to hold value.

In python, we dont need to specify the type of variable. Pyther can infer and is snart enough to get variable type

In [11]:
x=10
name="Amar"
value=10.2

In [12]:
type(x)

int

In [13]:
type(name)

str

In [14]:
type(value)

float

####Identifier

Variables are the examples of identifier. An identifier is used to identify the literals used in the program.

#####Rules to name an Identifier

* The first character of the variable must be an alphabet or an underscore(_)
* Only letters, digits and underscores are allowed (A-Z,a-z,0-9)
* The name must not contain any white spaces or special characters
* Keywords cant be identifiers

<table border="1">
  <tr>
    <th>Valid</th>
    <th>Invalid</th>
  </tr>
  <tr>
    <td>abc123</td>
    <td>123abc</td>
  </tr>
  <tr>
    <td>adc_de</td>
    <td>abc@</td>
  </tr>
  <tr>
    <td>_abc </td>
    <td>123 </td>
  </tr>
  <tr>
    <td>For </td>
    <td>for </td>
  </tr>
</table>

####Python Datatype

A variable can hold different type of value. for example, name must be stored as string, whereas id is stored as an integer

Variable can store data of different types

<table border="2">
  <tr>
    <th>Numeric</th>
    <th>Dictionary</th>
    <th>Boolean</th>
    <th>Set</th>
    <th>Sequence type</th>
  </tr>
  <tr>
    <td>Integer,Complex number,float </td>
    <td> </td>
    <td> </td>
    <td>  </td>
    <td> Strings,List,Tuple </td>
  </tr>
</table>

#INPUT IN PYTHON

####Python input() function

input() is used to get input from the user. It prompts for the user input and reads a line. After reading data, it converts it into a string and returns that. It throws an error E of error, If its EOF

#####Parameter
prompt: It is a string message with prompt for user input

#####Return
It returns user input after converting it into a string

In [16]:
val=input("Enter a value")
print("Entered value is :",val)

Enter a value15
Entered value is : 15